body{
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6,a,p,ul,li,img{
    margin: 0;
    padding: 0;
}
/* lets be creative section start */
#background-templete{
     height: 500px;
     overflow: hidden;
}
.background img{
    height: 550px;
    width: 100%;
    position: relative;
    
}
.image img{
  position: absolute;
  bottom: 100px;
  left: 520px;
  z-index: 4;
}
.templete{
    position:absolute;
    top: 177px;
    left: 220px;
    
}
.templete h6{
    color: rgb(236, 232, 229);
    margin-left: 140px;
    letter-spacing: .7px;
    word-spacing: 1px;
}
.templete h2{
    font-size: 47px;
    font-family: sans-serif;
    font-weight: 700;

}
.templete h4{
    background-color: rgb(42, 41,37 );
    padding: 5px 0;
    padding-left: 10px;
    color: white;
    text-transform: capitalize;

}
.templete h4>span{
    color:rgb(41, 131, 131);
}
.starting{
    position: absolute;
    bottom: 280px;
    left: 317px;
    
}
.starting h2{
    font-family: sans-serif;
    font-size: 18px;
}
.starting h2>span{
    color:rgb(121, 202, 194);
}
.starting h2>i{
    font-size: 22px;
    margin: 15px;
    color: rgb(49, 158, 147);
}
.round-box{
    position: absolute;
    font-size: 42px;
    color: rgb(49, 158, 147);
    top: 60px;
    left: 113px;
    padding: 7px 7px;
    border-radius: 50%;
    border: 4px solid rgb(49, 158, 147);
} 
/* lets be creative section end */
/* logo-menu section start */
    #logo-menu{
        height: 85px;
        background-color: rgb(249, 252, 242);
    }
    .both{
        border: 4px solid rgb(240, 246, 232);
        height: 80px;
    }
   .content{
    width: 970px;
    margin: 0 auto;
   }
   
   .logo img{
    height: 50px;
    border-radius: 50%;
    float: left;
   }
   .logo h5{
    padding-top: 20px;
    float: left;
   }
   .menu ul{
    display: flex;
    position: relative;
    left: px;
    margin-left: 305px;
    top: 20px;
   }
   .menu li{
    list-style: none;
    margin-left: 12px;
   }
   .menu ul li a{
    text-decoration: none;
      color: black;
      padding: 11px 12px;
      font-size: 13px;
     }
   .menu ul li a:hover{
     color: white;
     background-color: rgb(49, 158, 147);
     border-radius: 4px;
   }
   .menu i{
    margin-left: 18px;
    color: rgb(121, 202, 194);
    font-size: 20px;
   }
   /* logo-menu section end */
 
    /* offer and box section start */
    #offer-box{
        height: 600px;
    }
   .offer{
    top: 640px;
    left: 521px;
   }
   .offer p{
      margin-left: -105px;
   }
   .box{
    position: relative;
  display: flex;
  top: 200px;
  margin-left: 250px;
  float: left;

}

.boxes{
    width: 27%;
    margin: 12px;
}
.icon{
    background-color: black;
     height: 100px;
     width: 100px;
     border-radius: 50%;
     position: relative;
     left: 26px;
}
.icon i{
 position: absolute;
 color: antiquewhite;
 left: 34px;
 top: 34px;
 font-size: 25px;
 width: 100%;
 
 
}
.icon:hover{
    background-color:rgb(7, 176, 165) ;
}
.lorem {
    margin-top: 18px;
}
.lorem h3{
    margin-left: 12px;
    color: rgb(138, 135, 135);
}
.lorem p{
    color:rgb(169,169,169);
    margin-top: 20px;
    
}
.button{
    margin-top: 20px;
}
.button a{
    text-decoration: none;
    color: black;
    font-size: 12px;
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid;
    margin-left: 25px;
}
.button a:hover{
    color: white;
    background-color:rgb(7, 176, 165) ;
    padding: px 12px;
}
 /* offer and box section end */

    /* mid-icon section start */
    .mid-icon{
        position: relative;
        top: 13px;
        left: 650px;
        height: 30px;
        width: 30px;
        border-radius: 18%;
        background-color: rgb(7, 176, 165);
    }
    .mid-icon i{
        font-size: 22px;
        color: aliceblue;
        position: absolute;
        left: 4px;
        top: 5px;
    }

    /* mid-icon section start */



 /* amazing features section start */
      #amazing-feature{
        background-color: rgb(56, 56, 56);
        height: 600px;
      }
      .feature{
        top: 1240px;
      }
      .feature p{
        color: rgb(114, 106, 109);
      }
      .content-2{
        width: 900px;
      }
      .box-2{
          position: relative;
          top: 250px;
          left: 100px;
          float: left;
          height: 300px;
          
       
          
      }
      
      .boxex-2 i{
        position: absolute;
        float: left;
        font-size: 50px;
        margin-top: 20px;
        color: rgb(43, 140, 136);
      }
      .lorem-2{
      
       margin-left: 80px;
      }
     .tablet-img{
        float: left;
        position: relative;
        left: 780px;
        bottom: 370px;
        
     } 
     .tablet-img img{
        height: 370px;
        width: 450px;
        z-index: 1;
        position: absolute;
    
     }
     .tab-1{
        float: left;
        position: relative;
        left: 800px;
        bottom: 220px;
    }
     .tab-1 img{
        height: 270px;
        width: 330px;
        z-index: 5;
        position: absolute;
     }
 /* amazing features section end */

/* badge section start */
    #badge{
        height: 500px;

    }
    .container-2{
        display: grid;
        grid-template-columns:repeat(3,1fr);
        gap: 10px;
        
    }
    .badge{
        width: 55%;
        position: relative;
        left: 150px;
        top: px;
    }
    .icon-2{
        position: relative;
        height: 100px;
        width: 70px;
        background-color: black;
        right: 75px;
        top: 120px;
        z-index: 1;
        
    }
    .icon-2 i{
        float: left;
        position: absolute;
        top: 30px;
        font-size: 30px;
        left: 17px;
        z-index: 5;
        color: white;
        width: 100%;
    }
/* badge section end */

  
/* powerful skills section start */
        #powerful-skill{
            height:400px;
            background-color: rgb(54, 54, 54);
        }
        .skills{
             top: 2400px;
        }
        .skills h2{
             color: white;
        }
         .box-3{
            position: relative;
            float: left;
            display: flex;
            top: 210px;
             right:120px;
            gap: 30px;
            
            
         }
       
         .skill{
            background-color: transparent;
            border: 4px solid green;
         }
         .skill h2{
            color: white;
            position: absolute;
            left: 29px;
            top: 35px;
            
         }
        
        
/* powerfull skills section end */

/* simple work section start */
     #simple-work{
        height: 800px;
     }
     .works{
        top: 2776px;
     }
    .image-parants{
        position: relative;
        top: 130px;
        display: grid;
        grid-template-columns: repeat(6,1fr);
    }
    .image-box img{
        height: 250px;
        width: 220px;
    }
    .button-2{
        top: 180px;
        position: relative;
        width: 800px;
        padding: 13px 20px;
        background-color: rgb(4, 156, 139);
        left: 265px;
    }
    .button-2 a{
        text-decoration: none;   
        color: white;
        position: absolute;
        left: 325px;
        bottom: 5px;
        
        
    }
/* simple work section end */

/* company fact section start */
     #company-fact{
        height: 300px;
        background-color: rgb(49, 56,56 );
     }      
     .fact-box{
        position: relative;
        display: flex;
        top: 180px;
        gap: 180px;
        left: 215px;
        float: left;
     }
     .fact{
        top: 3630px;
        left: 520px;
     }
     
     .fact-2 i{
         font-size: 10px;
         position: absolute;
         top: 30px;
         color: greenyellow;     
     }
   
     .fact-2 span{
            
           font-size: 54px;
           font-weight: 200;
           color: white;
                      
     }
     .fact-2 p{
        color: white;
        margin-top: 15px;
     }
     .icon-3{
        margin-top: 35px;
        margin-left: 34px;
    
     }
     
/* company fact section end */

/* team memmber section start */
#team-member{
background-color:rgb(4, 167, 157) ;
height: 1050px;
}
.lorem-4{
    position: relative;
    top: -8px;
    float: left;
    margin-left: 150px;
}
.lorem-4 p{
    color: azure;
    text-transform: capitalize;
    
}
.menu-2 ul{
    float: left;
    left: 20px;
    top: 29px;

}
.menu-2 ul li a{
    background-color: white;
}
.content-3{
    background-color: white;
    position: relative;
    top: 100px;
    height: 600px;
}
.MEMBERS{
    top: 50px;
}
.slide-icon{
    position: relative;
    right: 1100px;
    top: 50px;
    
}
.slide-icon i{
    color: white;
    background-color: black;
    padding:6px 6px;
    position: absolute;
}
.slide-icon i:hover{
    background-color: rgb(4, 155, 157);
}
.slide-icon-2{
    position: relative;
    left: 80px;
    top: 50px;
    float: left;
}
.slide-icon-2 i{
    color: white;
    background-color: black;
    padding:6px 6px;
    position: absolute;
}
.slide-icon-2 i:hover{
    background-color: rgb(4, 155, 157);
}

.image-parants-2{
    float: left;
margin-left: 180px;
    gap: 30px;

}
.image-box-1 {
    border: 1px solid rgb(240, 231, 231);
    height: 370px;
    width: 220px;
    position: relative;
}

.image-box-1>i{
    position: relative;
    bottom: 140px;
    left: 57px;
    background-color: white;
    color:rgb(4, 155, 157);
    padding: 2px 2px;
    margin: 1px;
    
}
.image-box-1 i:hover{
    background-color: black;
    color: whitesmoke;
    
}

.button-text{
    position: relative;
    left: 30px;
    top: 14px;
}
.button-text a{
    position: absolute;
    bottom: 62px;
    margin-left: 23px;
    word-spacing: 3px;
    text-decoration: none;
    padding: 8px 18px;
    
    background-color: rgb(12, 199, 202) ;
    border-radius: 3px;
    color: white;

}
.button-text a:hover{
    background-color: black;
}
.button-text h4{
    font-size: 16px;
   position: relative;
    right: 20px; 
}
.text-b{
    left: 12px;
} 
.button-text h5{
    position: relative;
    top: 10px;
    left:10px;
}
.button-text h5>i{
  
    margin-right: 8px;
    top: 3px;
}
.button-text h6{
    position: relative;
    top: 17px;
    left: 25px;
}
.button-text h6>i{
    margin-right: 4px;
    right: 2px;
} 
.bottom-icon{
    top: 585px;
    background-color: black;
}
.button-3{
    position: relative;
    margin-top: 650px;
    margin-left: 490px;
}
.button-3 a{
    padding: 12px 40px;
    background-color: antiquewhite;
    color: rgb(173, 156, 135);
    font-weight: 700;
    
}
.button-3 a span{
    color: rgb(0, 174, 255);
}
.button-3 a:hover{
    background-image: linear-gradient(75deg, rgb(18, 172, 82), rgb(77, 80, 74));
}
.lorem-5{
    top: 50px;
    left: 50px;
}
.lorem-line-2{
    margin-left: 190px;
}
.slide-icon-3{
    position: relative;
    top: 210px;
    float: left;
    right: 450px;
    background-color: aliceblue;
    padding: 6px 6px;
    margin-right: 1px;
}
.slide-icon-3:hover{
    color: aliceblue;
    background-color: rgb(13, 13, 14);
    padding: 6px 6px; 
}
.slide-icon-4{
    position: relative;
    top: 210px;
    float: left;
    right: 450px;
    background-color: aliceblue;
    padding: 6px 6px;
}
.slide-icon-4:hover{
    color: aliceblue;
    background-color: rgb(13, 13, 14);
    padding: 6px 6px; 
}
/*
team member section end */

/* logo-hover section start */
     #logo-hover{
        background-color:rgb(58, 54, 59);
        height: 270px;
     }
     .slide-icon-5{
        position: relative;
        top: 110px;
        float: left;
        left: 90px;
        background-color: aliceblue;
        padding: 4px 6px;
     }
     .slide-icon-5:hover{
        color: aliceblue;
        background-color:rgb(0, 174, 255);
        padding: 4px 6px; 
     }
     .slide-icon-6{
        position: relative;
        top: 110px;
        float: right;
        right: 105px;
        background-color: aliceblue;
        padding: 4px 6px;
     }
     .slide-icon-6:hover{
        color: aliceblue;
        background-color:rgb(0, 174, 255);
        padding:4px 6px
     }
     .logo-box{
         display: grid;
         grid-template-columns: repeat(4,1fr);
         float: left;
         gap: 30px;
     }
     .logo-boxes{
          position: relative;
          left: 116px;
          top: 40px;
          height: 180px;
          width: 240px;

          background-color: rgba(14, 11, 7, 0.034);
     }
     .logo-boxes:hover{
        background-color: rgba(14, 11, 7, 0.384);
     }
     
     .logo-boxes i{
        position: absolute;
        top: 60px;
        left: 80px;
        color:white;
        font-size: 60px;
        
     }
     .logo-box-text{
        position: absolute;
        top: 100px;
        float: left;
        width: 100%;
        left: 60px;
     }
     .logo-box-text h2{
        color: azure;
        font-size: 25px;
     }
/* logo-hover section end */

/* cheap price section start */
       #cheap-price{
        height: 750px;
        background-color: rgb(249, 249,249);
       } 
       .cheap{
        top: 5250px;
       }
      .prices{
        display: grid;
        float: left;
        grid-template-columns: repeat(4,1fr);
        position: relative;
        top: 200px;
        left: 220px;
        gap: 10px;
      }
      .cheap-box{
        border: 1px solid rgba(218, 205, 205, 0.466);
        height: 520px;
        width: 220px;
      }
      .button-text-2{
        position: relative;
        left: 1px;
        float: right; 
        width: 100%;
    
      }
      .button-text-2 a{
        position: absolute;
        float: right; 
        bottom:260px;
        
    
      }
      .button-text-2 h2{
        position: absolute;
        left: 50px;
        font-size: 50px;
        top: 40px;
      }
      .button-text-2 h2>span{
        font-size: small;
        
      }
      .button-text-2 h2::after{
        content: '99';
        font-size: 12px;
        position: absolute;
        float: left;
         left:50px;
         font-family: fantasy;
         font-weight: 400;
      }
      .button-text-2 h2::before{
        content: '$';
        font-size: 13px;
        position: absolute;
        top:32px;
        left: -8px;
      }
      .button-text-2 h3{
        position: relative;
        top: 90px;
        float: left;
        left: 36px;
        top: 140px;
        margin-top: 30px;
         
      }
      
      .button-text-3{
        position: relative;
        left:-11px;
        float: left; 
        width: 100%;
        top: 500px;   
        
      }
      .button-text-3 a{
        position: absolute;
        font-size: 12px; 
        
    
      }
/* cheap price section end */

/* banner-shoping section start */
   #banner-shop{
    background-image:url() ;
    height: 120px;
   }
   .logo-2{
    position: relative;
    bottom: 5px;
    margin-left: 170px;
    
   }
   .logo-2 img{
    position: absolute;
    height: 120px;
    float: left;
   }
   .logo-2 h3{
    position: absolute;
    top: 60px;
    left: 170px;
   }
   .logo-2 h3>i{
    color: dodgerblue;
   }
   .menu-3{
      position: relative;
      left:1000px;
      float: left;
      width: 9.9%;
      top: 140px;
   }
   .menu-3 li{
    list-style: none;
   }
  .menu-3 a{
   width: 100%;
   
  }
/* banner-shoping section END */

/* contact link icon section start */
 #conatact-link{
    height: 200px;
    background-color:rgb(56, 56, 56);
   }
    .heading{
        position: relative;
         left: 600px;
         top: 20px;
         float: left;
    }
    .heading h2{
        color: white;
        font-size: 10px   
    }
    .heading h2>i{
        background-color: black;
        color:rgb(226, 162, 162);
        font-size: 20px;
        padding: 12px 5px;
    }
    .conatact {
         position: relative;
         top: 120px;
         left: 370px;
         float: left;
    }
     .container-3 i{
        font-size: 16px;
        color: white;
        padding: 4px 6px;
        background-color: rgba(0, 0, 0, 0.486);
        margin: 2px;
    }
    .conatact i:hover{
        background-color:rgb(0, 174, 255) ;
    } 

/* contact link icon section end  */

/* map banner and login form  start */
      #map-login{
        height: 520px;
     }
    
     .login-from input{
        border: 1px solid rgba(0, 0, 0, 0.336);
        display:grid;
        grid-template-columns: repeat(3,1fr);
        position:relative;
     margin-top:10px ;
        padding: 7px  28px;
        left: 10px;
     }
     .border{
        position: relative;
        top: 240px;
        border: 2px solid rgb(231, 230, 230);
        height: 240px;
        width: 247px;
        left: 120px;
        background-color:white;
     }
     .massage input{
        padding: 40px 28px;
     }
     .massage input::placeholder{
        position: absolute;
        top: 10px;
        left: 27px;
     }
   .submit input{
       padding: 7px 61px;
       background-color: rgb(16,148, 137);
       color: white;
       font-size: 11px;
     }

/* map banner and login form END */
   
/* footer section start */
     #footer{
        background-color: rgb(56,56, 56);
        height: 100px;
    }
    
    
    
    .footer-peragraph{
      position: relative;        
        top: 40px;
        left: 360px;
        float: left;
        color: white;
    }
    .footer-icon{
        float: left;
        position: relative;
        top: -18px;
    }
/* footer section end  */