body{
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6,a,p,ul,li,img{
    margin: 0;
    padding: 0;
}
/* lets be creative section start */
#background-templete{
     height: 500px;
     overflow: hidden;
}
.background img{
    height: 550px;
    width: 100%;
    position: relative;
    
}
.image img{
  position: absolute;
  bottom: 100px;
  left: 520px;
  z-index: 4;
}
.templete{
    position:absolute;
    top: 177px;
    left: 220px;
    
}
.templete h6{
    color: rgb(236, 232, 229);
    margin-left: 140px;
    letter-spacing: .7px;
    word-spacing: 1px;
}
.templete h2{
    font-size: 47px;
    font-family: sans-serif;
    font-weight: 700;

}
.templete h4{
    background-color: rgb(42, 41,37 );
    padding: 5px 0;
    padding-left: 10px;
    color: white;
    text-transform: capitalize;

}
.templete h4>span{
    color:rgb(41, 131, 131);
}
.starting{
    position: absolute;
    bottom: 280px;
    left: 317px;
    
}
.starting h2{
    font-family: sans-serif;
    font-size: 18px;
}
.starting h2>span{
    color:rgb(121, 202, 194);
}
.starting h2>i{
    font-size: 22px;
    margin: 15px;
    color: rgb(49, 158, 147);
}
.round-box{
    position: absolute;
    font-size: 42px;
    color: rgb(49, 158, 147);
    top: 60px;
    left: 113px;
    padding: 7px 7px;
    border-radius: 50%;
    border: 4px solid rgb(49, 158, 147);
} 
/* lets be creative section end */
/* logo-menu section start */
    #logo-menu{
        height: 85px;
        background-color: rgb(249, 252, 242);
    }
    .both{
        border: 4px solid rgb(240, 246, 232);
        height: 80px;
    }
   .content{
    width: 970px;
    margin: 0 auto;
   }
   
   .logo img{
    height: 50px;
    border-radius: 50%;
    float: left;
   }
   .logo h5{
    padding-top: 20px;
    float: left;
   }
   .menu ul{
    display: flex;
    position: relative;
    left: px;
    margin-left: 305px;
    top: 20px;
   }
   .menu li{
    list-style: none;
    margin-left: 12px;
   }
   .menu ul li a{
    text-decoration: none;
      color: black;
      padding: 11px 12px;
      font-size: 13px;
     }
   .menu ul li a:hover{
     color: white;
     background-color: rgb(49, 158, 147);
     border-radius: 4px;
   }
   .menu i{
    margin-left: 18px;
    color: rgb(121, 202, 194);
    font-size: 20px;
   }
   /* logo-menu section end */
 
    /* offer and box section start */
    #offer-box{
        height: 600px;
    }
   .offer{
    top: 640px;
    left: 521px;
   }
   .offer p{
      margin-left: -105px;
   }
   .box{
    position: relative;
  display: flex;
  top: 200px;
  margin-left: 250px;
  float: left;

}

.boxes{
    width: 27%;
    margin: 12px;
}
.icon{
    background-color: black;
     height: 100px;
     width: 100px;
     border-radius: 50%;
     position: relative;
     left: 26px;
}
.icon i{
 position: absolute;
 color: antiquewhite;
 left: 34px;
 top: 34px;
 font-size: 25px;
 width: 100%;
 
 
}
.icon:hover{
    background-color:rgb(7, 176, 165) ;
}
.lorem {
    margin-top: 18px;
}
.lorem h3{
    margin-left: 12px;
    color: rgb(138, 135, 135);
}
.lorem p{
    color:rgb(169,169,169);
    margin-top: 20px;
    
}
.button{
    margin-top: 20px;
}
.button a{
    text-decoration: none;
    color: black;
    font-size: 12px;
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid;
    margin-left: 25px;
}
.button a:hover{
    color: white;
    background-color:rgb(7, 176, 165) ;
    padding: px 12px;
}
 /* offer and box section end */

    /* mid-icon section start */
    .mid-icon{
        position: relative;
        top: 13px;
        left: 650px;
        height: 30px;
        width: 30px;
        border-radius: 18%;
        background-color: rgb(7, 176, 165);
    }
    .mid-icon i{
        font-size: 22px;
        color: aliceblue;
        position: absolute;
        left: 4px;
        top: 5px;
    }

    /* mid-icon section start */



 /* amazing features section start */
      #amazing-feature{
        background-color: rgb(56, 56, 56);
        height: 600px;
      }
      .feature{
        top: 1240px;
      }
      .feature p{
        color: rgb(114, 106, 109);
      }
      .content-2{
        width: 900px;
      }
      .box-2{
          position: relative;
          top: 250px;
          left: 100px;
          float: left;
          height: 300px;
          
       
          
      }
      
      .boxex-2 i{
        position: absolute;
        float: left;
        font-size: 50px;
        margin-top: 20px;
        color: rgb(43, 140, 136);
      }
      .lorem-2{
      
       margin-left: 80px;
      }
     .tablet-img{
        float: left;
        position: relative;
        left: 780px;
        bottom: 370px;
        
     } 
     .tablet-img img{
        height: 370px;
        width: 450px;
        z-index: 1;
        position: absolute;
    
     }
     .tab-1{
        float: left;
        position: relative;
        left: 800px;
        bottom: 220px;
    }
     .tab-1 img{
        height: 270px;
        width: 330px;
        z-index: 5;
        position: absolute;
     }
 /* amazing features section end */

/* badge section start */
    #badge{
        height: 500px;

    }
    .container-2{
        display: grid;
        grid-template-columns:repeat(3,1fr);
        gap: 10px;
        
    }
    .badge{
        width: 55%;
        position: relative;
        left: 150px;
        top: px;
    }
    .icon-2{
        position: relative;
        height: 100px;
        width: 70px;
        background-color: black;
        right: 75px;
        top: 120px;
        z-index: 1;
        
    }
    .icon-2 i{
        float: left;
        position: absolute;
        top: 30px;
        font-size: 30px;
        left: 17px;
        z-index: 5;
        color: white;
        width: 100%;
    }
/* badge section end */

  
/* powerful skills section start */
        #powerful-skill{
            height: 600px;
            background-color: rgb(54, 54, 54);
        }
        .skills{
             top: 2400px;
        }
        .skills h2{
             color: white;
        }
         .box-3{
            position: relative;
            float: left;
            display: flex;
            top: 250px;
             right: 100px;
            gap: 30px;
            
            
         }
       
         .skill{
            background-color: transparent;
            border: 4px solid green;
         }
         .skill h2{
            color: white;
            position: absolute;
            left: 29px;
            top: 35px;
            
         }
        
        
/* powerfull skills section end */

/* simple work section start */
     #simple-work{
        height: 800px;
     }
     .works{
        top: 3000px;
     }
    .image-parants{
        position: relative;
        top: 130px;
        display: grid;
        grid-template-columns: repeat(6,1fr);
    }
    .image-box img{
        height: 250px;
        width: 220px;
    }
    .button-2{
        top: 180px;
        position: relative;
        width: 800px;
        padding: 13px 20px;
        background-color: rgb(4, 156, 139);
        left: 265px;
    }
    .button-2 a{
        text-decoration: none;   
        color: white;
        position: absolute;
        left: 325px;
        bottom: 5px;
        
        
    }
/* simple work section end */

/* company fact section start */
     #company-fact{
        height: 300px;
        background-color: rgb(49, 56,56 );
     }      
     .fact-box{
        position: relative;
        display: flex;
        top: 180px;
        gap: 180px;
        left: 215px;
        float: left;
     }
     .fact{
        top: 3830px;
        left: 530px;
     }
     .fact-2 i{
         font-size: 10px;
         position: absolute;
         top: 30px;
         color: greenyellow;     
     }
   
     .fact-2 span{
            
           font-size: 54px;
           font-weight: 200;
           color: white;
                      
     }
     
/* company fact section end */










